<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Trainer Budget</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="header">
      <div class="container header-inner">
        <h1 class="brand">
          <a href="{{ url_for('meal_form') }}">Flask Trainer Budget</a>
        </h1>

        <nav class="nav">
          <a href="{{ url_for('meal_form') }}">Meal</a>
          <a href="{{ url_for('monthly_report') }}">Report</a>
        </nav>
      </div>
    </header>

    <main class="container main">
      {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>
